streamlit
opencv-python
numpy
pocketsphinx
ffmpeg
ffmpeg-python
ffprobe 
wit
ibm-watson
azure-cognitiveservices-speech
deepspeech
pyaudio
nltk==3.6.2
speechrecognition==3.8.1
google-cloud-speech==2.5.1
xgboost
