streamlit
opencv-python
numpy
pocketsphinx
pydub
pyAudio
pyspeech
SpeechRecognition 
ffmpeg
ffmpeg-python
ffprobe 
google-cloud-speech
wit
ibm-watson
azure-cognitiveservices-speech
deepspeech
nltk
SoundDevice 
